<div class="flex flex-wrap items-center justify-center p-4 bg-gray-100">
    <div class="w-full md:w-1/2 p-4">
        <img src="assets/images/smile.jpg" alt="Media" class="w-full h-auto rounded-lg shadow-lg">
    </div>
    <div class="w-full md:w-1/2 p-4">
        <h2 class="text-3xl font-bold mb-4 text-gray-900">Media</h2>
        <p class="text-lg mb-6 text-blue-800">Mental health, a crucial component of overall well-being, has taken center stage in our lives, more so in recent times. With the aim to spread awareness, offer support, and break the stigma surrounding mental health issues, our platform is dedicated to bringing you the latest news, research, and insights from the mental health field. We believe in empowering individuals by providing them with the knowledge and resources they need to understand and manage their mental health.</p>
        <div class="px-6 pt-4 pb-2">
            <a routerLink="/media-details" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                See more articles
            </a>
            
        </div>
        
    </div>
</div>
<div>
    <app-quiz></app-quiz>
</div>