<div class="w-full h-auto flex justify-center items-center rs:flex-col cl:flex-col jv:flex-col lg:flex lg:justify-center lg:items-center lg:flex-row gap-20 bg-blue-100 p-10 xl:flex xl:items-center xl:justify-center">
    <div class="w-1/2">
        <img class="w-full h-full rs:w-auto cl:w-auto rs:h-auto jv:h-auto lg:h-full xl:h-full" src="assets/images/girl.jpeg" alt="Image of a girl">
    </div>
    <div class="text-center">
        <h2 class="text-3xl font-bold mb-4">Your Journal Online</h2>
        <p class="text-lg mb-6 text-sky-950">In this journal, we embark on a deeply personal journey of introspection, sharing our thoughts, feelings, and experiences as we navigate the complexities of mental health.</p>
        
        <a routerLink="/journal-details" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Start Journaling</a>
    </div>
</div>
<div> <app-mood-tracker></app-mood-tracker> </div>
