<div class="w-full h-screen flex items-center justify-center relative bg-cover bg-center" style="background-image: url('assets/images/backgroundgirl.png')">
    <div class="absolute inset-0 bg-black bg-opacity-60"></div>
    <div class="w-3/4  flex flex-col items-center justify-center p-4 z-10">
        <h2 class="text-4xl font-bold mb-6 text-white shadow-lg">Unveiling the Shades of Mind: A Journey Towards Mental Wellness</h2>
        <div class="border border-gray-300 rounded-lg backdrop-blur-xl shadow-lg p-4 max-w-md opacity-0">
            <p class="text-xl font-bold text-white text-gray-300 text-center">Your story is powerful. Your feelings are valid. And your mental health matters. Join our campaign today. Let's embark on this journey together, towards a future where mental wellness is embraced, celebrated, and prioritized.</p>
        </div>

    </div>
</div>
